In [1]:
import sys
import re
import numpy as np
import pandas as pd

In [2]:
input_file_cases = "processed_individual_cases_Sep20th2020.csv"
# input_file_locations = "processed_location_Sep20th2020.csv"

In [3]:
individual_cases = pd.read_csv(input_file_cases)
locations = pd.read_csv(input_file_locations)

In [4]:
# All NaN
individual_cases.age[individual_cases['age'].isna()]

not_NaN_cases = individual_cases[['age']].dropna() # .reset_index(drop = True)
not_NaN_cases

          age
1        21.0
2        94.0
4         2.0
5        29.0
8       35-59
...       ...
557352   73.0
557353     74
557354     65
557359   56.0
557362     25

[260490 rows x 1 columns]

In [5]:
# range_re.match(individual_cases.loc[8]['age']).group()
not_NaN_cases = individual_cases[['age']].dropna() # .reset_index(drop = True)

range_re = re.compile(r"^(\d+)\s*-\s*(\d+)$")
def range_to_num(s):
    m = range_re.match(s)
    if m:
        num1, num2 = list(map(int, m.group().split('-')))
        return (num1 + num2) / 2
    else:
        return s

not_NaN_cases['age'] = not_NaN_cases['age'].apply(range_to_num)
not_NaN_cases['age'].str.isnumeric()

1         False
2         False
4         False
5         False
8           NaN
          ...
557352    False
557353     True
557354     True
557359    False
557362     True
Name: age, Length: 260490, dtype: object

In [6]:
isfloat_re = re.compile(r"^(\d+(\.\d+)?\+?\-?$)")
def isFloat(s):
    if type(s) == float or type(s) == int:
        return True
    m = isfloat_re.match(s)
    return True if m else False

not_NaN_cases[~not_NaN_cases['age'].apply(isFloat)]
# isfloat_re.match(not_NaN_cases.loc[22]['age'])

             age
112660  18 month
272146  4 months
290795  6 months
414321   5 month
490416  11 month
495326   8 month